



body{
	
    
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: justify;
    hyphens: auto;
    word-spacing: -1px;
	 margin: 0;
	 
	 background:linear-gradient(to right, #ffebee14 , #fce4ec1f);	
}
.inner-div
{
	position:fixed;
	background-color:rgba(255,255,255,0.95);
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	z-index:-1;
	
}

span#smalltext{
    font-size: 0.6em;
    position: relative;
    bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#noscript{
    text-align: center;
    margin-top: .3em;
    width: 100%;
    background-color: #18ffff;
    border: 2px solid #18ffff;
    color: white;
    border-radius: 8px;
    margin-top: 1em;
}





a{
    color: #33b5e5 !important;
    text-decoration: none !important;
    cursor: pointer;
	font-weight:500;
}

em {
    font-weight: 500;

}
.icon-color
{
	color:#18ffff;
}

.pic-container{
	position:absolute;
	top:-80px;
	width:100%;
	left:0%;
}
.pic-container1{
	position:absolute;
	top:-55px;
	width:100%;
	left:0%;
}
div#pic{
    width: 170px;
    height: 170px;
    background-size: 170px 170px;
    background-color: #33b5e5;
    border-radius: 50%;
    border: 5px solid #33b5e5;
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
	margin:30px;
	background-image: url('../img/me@2x.jpg');
}


div#career{
    width: 120px;
    height: 120px;
	text-align:center;
    background: linear-gradient(60deg,#ec407a,#d81b60);
    border-radius: 50%;
	line-height:120px;
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
	margin:30px;
	color:white;
	font-size:70px;
	transition:transform 0.3s;
}
.career-main:hover div#career{
	  transform: scale(1.1);
	
}

.info-div-col{
	background-color:white;
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
	border-radius:6px;
	position:relative;
	font-family: 'Comfortaa', cursive;
	font-weight: 500;
	margin-bottom:100px;
}


@media screen and (min-width: 600px) {
.info-div{
			padding:130px 30px 50px;
		}
	.info-div1{
			padding:110px 30px 50px;
	}
		h2{
	font-family: 'Righteous', cursive !important;
    color: #33b5e5 !important;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 1.5em !important;
}
}
@media screen and (max-width: 600px) {
.info-div{
			padding:130px 10px 50px;
		}
		.info-div1{
			padding:110px 10px 50px;
	}
		h2{
    font-family: 'Righteous', cursive !important;
    color: #33b5e5 !important;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 1.2em !important;
}
}
#cv-a{
	padding:10px;
	border:1px solid #ddd;
	font-size:50px;
	text-align:center;
	transition: box-shadow 0.5s;
	text-decoration:none;
}
#cv-a:hover{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
}




.inner-body{
	padding:50px 50px 120px 50px;
	color:#e91e63;
}


@media only screen and (min-width: 600px) {
	.hi-class{
	font-size:80px;
	 font-family: 'Righteous', cursive;
	}
	.how-class{
		font-size:60px;
		 font-family: 'Righteous', cursive;
	}
	.txt-info{
		font-size:30px;
		color:#999;
		margin-top:20px;
		font-family: 'Comfortaa', cursive;
	}
}
@media only screen and (max-width: 600px) {
	.hi-class{
	font-size:50px;
	font-family: 'Righteous', cursive;
	}
	.how-class{
		font-size:35px;
		font-family: 'Righteous', cursive;
	}
	.txt-info{
		font-size:25px;
		color:#999;
		margin-top:20px;
		font-family: 'Comfortaa', cursive;
	}
	
}

.contain-next{
	position:fixed;
	width:250px;
	height:250px;
	border-radius:50%;
	background-color: #e91e63;
	bottom:-100px;
	right:-100px;
	cursor:pointer;
	color:white !important;
	
}
.contain-body{
	position:fixed;
	width:100%;
	height:100%;
	background-color: #e91e63;
	right:0%;
	left:0%;
	cursor:pointer;
	color:white;
	
}
.contain-next:hover{
	background-color: #eee;
	color:#e91e63 !important;
	
}
.contain-txt{
	padding:70px 50px;
	font-size:20px;
}

#footer {
    border-top:1px solid  #aaa;
    color: #999;
    padding: 40px 0;
    text-align: center;
	margin:0px;

}
#c_span{
	display:inline-block;
}
